.wrapper
  = render 'shared/chat-side'
  .chat-main
    = render 'shared/main-header'
    .messages
      = render @messages
      / 繰り返し処理が行われる時はcollectionを使わずに省略できる。
    = render 'shared/message-submit-form'
