.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
  &__left-box {
    &__current-group {
      margin: 25px 0 10px;
      font-size: 20px;
      color: #333333;
    }
    &__members {
      font-size: 15px;
      display: flex;
      padding-bottom: 10px;
      &__member {
        margin-left: 5px;
      }
    }
  }
  a {
    color: $light-blue;
    text-decoration: none;
  }
  &__edit-btn {
    height: 40px;
    line-height: 40px;
    border: solid 1px $light-blue;
    padding: 0 20px;
    margin-top: 28px;
  }
}
